---
---
@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

/* MAIN */

main {
  max-width: 60em;
}

html {
  font-family: 'Source Sans Pro', sans-serif;
  font-family: 'Slabo 27px', serif;
}

th {
  vertical-align: bottom; /* or middle, top */
}

/* TYPE */

p {
  max-width: 30em;
}

h1, h2, h3, h4, h5, h6, nav, label {
  font-family: 'Slabo 27px', serif;
  color: #545b98;
}

p, table, ul, ol, dl, input, textarea {
  font-family: 'Source Sans Pro', sans-serif;
}

/* NAVIGATION */

.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #6f9ec3;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #fff;
  display: block;
}

.sidenav a:hover {
  color: #b0ecee;
}

main {
  margin-left: 170px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

.contact {
  padding: 0;
  margin: 0;
  margin-left: 10px;
  margin-right: 10px;
  color: #b0ecee;
}

.con-top {
  margin-top: 375px;
}

/* CREATE NEW */

input[type=text], select, textarea {
  width: 90%;
  padding-left: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  vertical-align: center;
}

input[type=date], select, textarea {
  width: 90%;
  padding-left: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #8bc53f;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 20%;
  vertical-align: center;
}

input[type=submit]:hover {
  background-color: #545b98;
}

.container {
  border-radius: 5px;
  background-color: #fff;
  padding: 20px;
}

.add-photo {
  padding: 75px;
}

.marg-top {
  margin-top: 75px;
  margin-bottom: 0;
}

.temp-img {
  box-shadow: 10px 10px 5px #e5e5e5;
  margin-bottom: 10px;
}

.skinny {
  max-width: 80%;
  vertical-align: middle;
  margin: 0 auto;
  text-align: center;
}

/* CALENDAR */

.calender, th, td {
  border: 1px solid #ccc;
}

tbody td {
  height: 10em;
}

.border-none {
  border: 0;
}

.event {
  background-color: #f2f2f2;
}

.border {
  border-color: #ccc;
  border-bottom-color: #ccc;
  border-top-color: #ccc;
}

table {
  border-collapse: collapse;
}

.pink {
  background-color: #f2bcbc;
  border: 1px solid #b92828;
  color: #991919;
  border-radius: 8px;
}

.grey {
  background-color: #ccc;
  border: 1px solid #666;
  color: #333;
  border-radius: 8px;
}

.purple {
  background-color: #d2d6f0;
  border: 1px solid #1d38da;
  color: #38448e;
  border-radius: 8px;
}

.green {
  background-color: #d1e0bf;
  border: 1px solid #6b7e54;
  color: #51603f;
  border-radius: 8px;
}

@media screen and (max-height: 450px) {

  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }

}
