<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>Hustle App</title>
  <link rel="shortcut icon" type="image/x-icon" href="{{site.baseurl}}/favicon.ico">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://use.typekit.net/mnk4ewv.css">
  <meta name="handheldfriendly" content="true">
  <meta name="mobileoptimized" content="240">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href="{{site.baseurl}}/css/modules.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/grid.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/type.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/main.css" rel="stylesheet">
</head>
<body>

  <header roll="nav">
    <div class="sidenav">
      <h1 class="logo"><img class="hidden-mob img-flex" src="{{site.baseurl}}/images/vert-white.png" alt="Hustle logo"><img class="img-flex hidden-desk" src="{{site.baseurl}}/images/pic-white.png" alt="Hustle logo"></h1>
      <a href="{{site.baseurl}}/createnew">
        <i class="fa fas fa-plus-circle"></i>
        <span class="label">Create New</span>
      </a>
      <a href="{{site.baseurl}}/index">
        <i class="fa fas fa-calendar"></i>
        <span class="label">Upcoming</span>
      </a>
      <a href="{{site.baseurl}}/ongoing">
        <i class="fa fas fa-edit"></i>
        <span class="label">Ongoing</span>
      </a>
      <a href="{{site.baseurl}}/archived">
        <i class="fa fas fa-archive"></i>
        <span class="label">Archive</span>
      </a>
      <div class="address">
        <p class="hidden-mob con-top contact micro valign-bottom">info@hustleapp.com</p>
        <p class="hidden-mob contact micro valign-bottom">+1 (800) 324-HSTL</p>
        <p class="hidden-mob contact micro valign-bottom">HO: 576 Eleanor Ave.</p>
        <p class="hidden-mob contact micro valign-bottom">Ottawa, ON, CANADA</p>
      </div>

    </div>
  </header>

    <main>

    {{content}}

    </main>

  </body>

  <link href="https://fonts.googleapis.com/css?family=Slabo+27px|Source+Sans+Pro" rel="stylesheet">

</html>
